.expense-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100%;
  font-size: 12px;
  background: #222831;
  width: 25px;
  height: 25px;
  color: #ccc;
}

.expense-delete-button:hover {
  border: 1px solid #d2042d;
  color: #d2042d;
  transition: 250ms ease;
}

.filter-expense-input {
  background: #222831;
  border: 1px solid #222831;
  border-radius: 0.5em;
  color: #ccc;
}

.filter-expense-input::placeholder {
  font-size: 12px;
  color: #ccc;
}

.filter-expense-input:focus {
  outline: none;
}
