@import "tailwindcss";

body {
  overflow: hidden;
  background-image: url("./assets/7240814.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.content__p {
  font-size: 9px;
}
